{
    "Night":{"Temp":2700,"Brightness":5}, 
    "Evening":{"Temp":3000,"Brightness":30},
    "Midday(WD)":{"Temp":3800,"Brightness":80},
    "Midday(WE)":{"Temp":3300,"Brightness":80}
}

